.carrousel {
    /* width: 100%; */
    /* min-width: 100%; */
    // overflow: scroll;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 30px;
    position: relative;

}   
.carrousel__container {
    white-space: nowrap;
    margin: 70px 0;
    padding: 0 0 10px;
    /* max-width: 100%; */
}

/**
*   Scroll Carrousel
*/
::-webkit-scrollbar-thumb {
    background: rgb(60, 52, 52);
    border-radius: 4px;
  }
  ::-webkit-scrollbar {
    width: 8px; 
    height: 8px;   
    background:rgba(5, 5, 5, 0.4);
    border-radius: 4px;
  }
  ::-webkit-scrollbar:hover {
    background: #3e1627;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  ::-webkit-scrollbar:hover:active {
    background: rgb(128, 2, 50);
  }