@media only screen and (max-width: 600px) {
    .login__container, .register__container {
        background-color: transparent;
        border:none;
        padding: 0;
        width: 100%;
    }
    .login-title, .register-title {
        text-align: center;
        letter-spacing: 1px;
    }
    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
    .input {
        margin-left: 5%;
        margin-right: 5%;
    }
}       