@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');


$theme-font: 'Mulish', sans-serif;
$main-color: linear-gradient(90deg, rgba(13,9,13,1) 10%, rgba(14,17,38,1) 49%, rgba(13,13,13,1) 100%); 

/* 
 * Colores del proyecto
*/
$black: #0d0d0d;
$watermelon: #d93030;
$orange: #f27405;
$wastedGold: #d9a404;
$pinkie: #bf3073;
$vividGreen: #7c8c03;
$armyGreen:#324001;
$darkGreen: #1a2601;
$maritimeBlue: #253659;
$furiusPink: #d91a60;
$rose: #bf6067;
$white: #d9ccbf;
$softOrange: #f08137;
$gray: #6c838c;
$lightblue: #466fa6;
$softGreen: #2e706c;
$softYellow: #fdc872;
$softRose: #fab1a5;
$lila: #5158a8;
$hotOrange: #f25c05;
$magenta: #04d9b2;
$royalYellow: #f29f05;
$blue: #0460d9;
$hotPink: #f20587;

